// 색상 변수
$color--black: #000;
$color--white: #fff;
$color--gray: #888;
$color--darkgray: #333;
$color--grashblack: #222;

// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;